<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Condiciones anidadas</title>
</head>
<body>
    <h1 class="text-center mt-3">Estatus de alumno</h1>
    <div class="container">
        <div class="jumbotron">
           <div class="form-group">
             <label for="">Calificación 1:</label>
             <input type="number" name="" id="calif1" class="form-control" >
           </div>
           <div class="form-group">
             <label for="">Calificación 2:</label>
             <input type="number" name="" id="calif2" class="form-control" >
           </div>
           <div class="form-group">
             <label for="">Calificación 3:</label>
             <input type="number" name="" id="calif3" class="form-control" >
           </div>


            <button class="btn btn-info col-12 mt-3" id="btnPromedio">Promedio</button>

            <div id="imprimirEstatus"></div>
           
        </div>
    </div>    
    <script src="./../js/app.js"></script>
</body>
</html>