<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
      <div class="container">
          <div class="jumbotron">
              <h1>Práctica 3</h1>
              <p>Crear una función que reciba un arreglo tamaño n con números aleatorios y devuelva un nuevo arreglo con solo los números pares.
                deberá presentar ambos arreglos en pantalla.</p>
                
                <input type="text" id="tamanoArray" placeholder="tamaño del arreglo">
                <div class="row col-12">
                    <ul class="list-group col-6" id="lista"></ul>
                    <ul class="list-group col-6" id="listaPar"></ul>
                </div>
          </div>
      </div>
      <script src="../js/app.js"></script>
  </body>
</html>