<!doctype html>
<html lang="en">
  <head>
    <title>Arreglos 5</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
      <div class="container">
          <div class="jumbotron">
              <h1>Práctica 8</h1>
              <p>Dado un array de números de 5 posiciones con los siguientes valores {0,1,2,3,4,5,6,7,8,9}, guardar los valores de este array en otro array distinto, pero con los valores invertidos, es decir, que el segundo array deberá tener los valores {9,8,7,6,5,4,3,2,1,0}.</p>
              <div>0,1,2,3,4,5,6,7,8,9</div>
              <button class="btn btn-outline-danger" id="iniciar">Invertir</button>
              <div id="zonaPrint"></div>
          </div>
      </div>
 <script src="../js/app.js"></script>
</body>
</html>