<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
        <div class="jumbotron">
            <h1>Arreglos A y B</h1>
            <p>Llenar dos arreglos (A, B) de manera aleatoria:
                a. Realizar C = A+B
                b. Realizar C = B-A
                c. Realizar C = B*A
                El usuario podrá elegir que opción de C desea ver en pantalla, también podrá ver el vector A y B para comprobar los resultados, el rango de los números aleatorios para los Vectores será de [-100 a 100], la longitud de los Vectores es la misma, por lo tanto, solo se solicitará una vez.</p>
               <div class="btn btn-outline-success" id="obtenerAleatorios">Obtener números aleatorios</div>
               <div id="output"></div>
        </div>
    <script src="../js/app.js"></script>
  </body>
</html>