body{
    width: 100vw;
    height: 100vh;
}

.contenedor{
    background:rgb(189,186,186);
    height: 90vh;
    position: relative;
    margin-bottom: 50px;
}
.contenedor span{
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: block;
    position: absolute;
    background: red;
    
}