<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Área de un círculo</title>
</head>
<body>
    <h1 class="text-center mt-3">Área de un círculo</h1>
    <div class="container">
        <div class="jumbotron">
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label for="">Radio del círculo</label>
                        <input id=inputradio type="number">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div id=btnarea class="btn btn-outline-info btn-block">
                        Área
                    </div>
                </div>
            </div>
            <div id="ImprimirResultado" class="alert alert-primary mt-3 text-center" role="alert">
                Resultado
              </div>
        </div>
    </div>

</div>
<script src="./../js/app.js"></script>
</body>
</html>