<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../css/style.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
      <div class="container">
          <div class="jumbotron bg-light">
              <h1 class="text-center">Persona</h1>
              <div class="text-center mt-5" id="persona">
                  <!-- <img src="../pressets/fondo.svg" alt=""> -->
                  <img class="camisa" id="camisa"src="../pressets/camisa.png" >
                  <img class="pantalon" id="pantalon"src="../pressets/pantalon.png" >
                  <img class="cabeza" id="cabeza"src="../pressets/cabeza.png" >
                  <img class="manoderecha" id="manoder"src="../pressets/manoder.png" >
                  <img class="manoizquierda" id="manoizq"src="../pressets/manoizq.png" >
                  <img class="piederecho" id="pieder"src="../pressets/pie der.png" >
                  <img class="pieizquierdo" id="pieizq"src="../pressets/pie izq.png" >
                </div>
                <button class="btn btn-primary col mb-3" id="zonaPrint">Parte</button>
          </div>
      </div>
      
    <!-- <script src="../js/partes.class.js"></script> -->
    <script src="../js/app.js"></script>
 </body>
</html>