<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="../css/style.css">
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label for="">Ingresa la velocidad inicial del proyecto</label>
              <input
                type="text"
                id="velocidad"
                class="form-group"
                placeholder="Ingrese la velocidad inicial en m/s"
              />
            </div>
          </div>

          <div class="col-6">
            <div class="form-group">
              <label for="">Ingrese los grados</label>
              <input
                type="text"
                id="angulo"
                class="form-control"
                placeholder="Ingrese los grados"
              />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <button type="button" id="btnCalcular" class="btn btn-outline-primary">Iniciar</button>
          </div>
        </div>
      </div>

      <div class="row">
          <div class="col-12">
              <div class="contenedor" id="contendor">
                  <span style="bottom:0%; left:0%"></span>
              </div>
          </div>
      </div>

    </div>

    <script src="../js/proyectil.class.js"></script>
    <!-- // las clases van arriba -->
    <script src="../js/app.js"></script>
  </body>
</html>
