<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title></title>
</head>
<body>
    <h1>Calificación</h1>
    <div class="container">
        <div class="jumbotron">
            <div class="row text-size">
                <label for="">Calificación</label>
                <input type="number" id="inCalificacion" class="col-6 ml-3 text-center">
            </div>
            <button id="btnEstado" type="button" class="btn btn-primary col-12 mt-3">Estado</button>
            <div class="alert alert-warning col-12 mt-3 text-center" role="alert" id="imprimirEstado">
                -
              </div>
              <audio src="./../audio/reprobado.mp3" id="audReprobado"></audio>
        </div>
    </div>
    

    <script src="./../js/app.js"></script>
</body>
</html>