body{
    overflow: hidden;
}

.container{
   
   border: 3px solid #000;
    position: relative;
    min-height: 556px;
    min-width: 924px;
}

.container * {
    position: absolute;
    display: block;
    
}

#Carro{
    width:80px;
    height: 80px;

}

