<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
      <div class="container">
          <div class="jumbotron">
              <div class="row">
                  <div class="col-12">
                      <h1>Métodos JavaScript</h1>
                  </div>
              </div>
              <div class="row">
                  <div class="col-12">
                      <div class="form-group">
                          <label for="Ingrese el tamañoñ del array"></label>
                          <input type="text" class="form-control" id="size">
                      </div>
                  </div>
              </div>
              <!--Row para botones-->
              <div class="row">
                  <div class="col-3">
                      
                      <button class="btn btn-outline-primary col-block" id="op1">Opción 1</button>
                      
                    </div>
                 <div class="col-3">
                              
                              <button class="btn btn-outline-primary col-block" id="op2">Opción 2</button>
                              
                 </div>
                <div class="col-3">
                                      
                              <button class="btn btn-outline-primary col-block" id="op3">Opción 3</button>
                 </div>
                  <div class="col-3">
            
            <button class="btn btn-outline-primary col-block" id="op4">Opción 4</button>
            </div>
        
    
                         
                            
                       
                    </div>
              <div class="row mt-3">
                  <div class="col-3">
                      
                      <button class="btn btn-outline-primary col-block" id="op5">Opción 5</button>
                      
                    </div>
                 <div class="col-3">
                              
                              <button class="btn btn-outline-primary col-block" id="op6">Opción 6</button>
                              
                 </div>
                <div class="col-3">
                                      
                              <button class="btn btn-outline-primary col-block" id="op7">Opción 7</button>
                 </div>
                  <div class="col-3">
            
            <button class="btn btn-outline-primary col-block" id="op8">Opción 8</button>
            </div>
        
    
                         
                            
                       
                    </div>
              </div>
          </div>
      </div>

    <script src="../js/app.js"></script>
  </body>
</html>