<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
      <div class="container">
          <div class="jumbotron">
              <div class="row mb-3">
                  <label for="" class="col m-3 p-1">Ingresa el área</label>
                  <input type="text" id="area" class="col m-3 p-1">
                  <label for="" class="col m-3 p-1">Ingresa la altura</label>
                  <input type="text" id="altura" class="col m-3 p-1">
                  <button class="btn btn-info" id="btnCalcular">Iniciar</button>
              </div>
              <div class="alert alert-primary" role="alert" id="zonaPrint">
                  <strong>Resultado</strong>
              </div>
          </div>
      </div>

    <script src="../js/index.js"></script>
 </body>
</html>