<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Apllicación 4</h1>
        <p>
          Rellene un array con los números primos comprendidos entre 1 y 1000 y
          los muestre en pantalla en orden descendente.
        </p>
        <button class="btn btn-info" id="iniciar">Iniciar</button>
        <div class="row">
          <div class="col-6">
            <span id="zonaPrint" class="col-1"></span>
          </div>
        </div>
      </div>
    </div>

    <script src="../js/app.js"></script>
  </body>
</html>
