<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Comparación de edades</title>
</head>
<body>
   <h1 class="text-center">Comparativa de edades</h1> 
   <div class="container">
       <div class="jumbotron">
           <div class="row">
               <label for="">Nombre</label>
               <input type="text" id="name1" class="form-control" placeholder="Primer Nombre">
           </div>
           <div class="row">
               <label for="">Edad</label>
               <input type="number" id="age1" class="form-control" placeholder="Edad">
           </div>
           <div class="row">
               <label for="">Nombre</label>
               <input type="text" id="name2" class="form-control" placeholder="Segundo Nombre">
           </div>
           <div class="row">
               <label for="">Edad</label>
               <input type="number" id="age2" class="form-control" placeholder="Edad">
           </div>
           <div>
               <button class="btn btn-warning col-12 mt-3" id="btncomparar">Comparar</button>
           </div>
           <div>
               <div class="alert alert-info mt-3 text-center" id="imprimirnombre">Nombre mayor</div>
           </div>
       </div>
   </div>

    <script src="./../js/app.js"></script>
</body>
</html>