<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
      <h1 class="text-center mt-3">Tiendas El Mandilón</h1>
      <button class="btn btn-outline-warning col" id="initApp">Iniciar</button>
      <div class="row">
          <ul class="col" id="listaCiudades"></ul>
          <ul class="col" id="listaSucursales"></ul>
          <ul class="col" id="listaEmpleados"></ul>

      </div>

   
<script src="../js/app.js"></script>
</body>
</html>