<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
      <div class="container mt-3 text-info">
          <p>
            Una persona se encuentra en el kilómetro 70 de la carretera Aguascalientes Zacatecas, otra se encuentra en el km 150 de la misma carretera, la primera viaja en dirección a Zacatecas, mientras que la segunda se dirige a Aguascalientes, a la misma velocidad. Realice un algoritmo para determinar en qué kilómetro de esa carretera se encontrarán
          </p>
          <div class="mx-auto" style="width: 200px;">
            <button class="btn btn-outline-success" id="btnInit">Ver kilómetro en el que se encuentran</button>
          </div>
          <div class="container">
            <div class="row text-center">
              <ul class="col-sm" id="listaags">
                Aguascalientes
              </ul>
              <ul class="col-sm" id="listazac">
                Zacatecas
              </ul>
              
            </div>
            <div id="zonaPrint" class="alert alert-success"></div>
          </div>
        </div>

      <script src="./../js/app.js"></script>
  </body>
</html>