<!doctype html>
<html lang="en">
  <head>
    <title>Aplicación 5</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
      <div class="container">
          <div class="jumbotron">
              <div class="row">
                  <div class="col-12 text-center">
                      <h1>Aplicación 5</h1>
                  </div>
              </div>

              <div class="row">
                  <div class="col-12">
                      <div class="form-group">
                          <label for="">Inserte el tamaño del array</label>
                          <input type="text" id="tamanoArray" class="form-control" placeholder="Inserte tamaño">
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div id="zonaPrint"></div>
 
    <script src="../js/app.js"></script>
  </body>
</html>