<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
      <p class="text-center mt-3 col">El gerente de una compañía automotriz desea determinar el impuesto que va a pagar por cada uno de los automóviles que posee, además del total que va a pagar por cada categoría y por todos los vehículos, basándose en la siguiente clasificación:
        <br>
        a. Los vehículos con clave 1 pagan 10% de su valor.
        <br>
        b. Los vehículos con clave 2 pagan 7% de su valor.
        <br>
        c. Los vehículos con clave 3 pagan 5% de su valor.
        <br>
        d. Realice un algoritmo para obtener la información.</p>
      <button class="btn btn-outline-primary col mt-3" id="btnInit">Iniciar</button>
      <ul class="list-group" id="lista"></ul>
      
    <script src="../js/app.js"></script>
  </body>
</html>