<!doctype html>
<html lang="en">
  <head>
    <title>Números del 100 al 0</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
      <div class="mx-auto" style="width: 200px;">
        <button class="btn btn-warning mt-5" style="width: 200px;" id="btnInit">
            Iniciar
        </button>
      </div>
      <ul class="list-group mt-3 text-center mx-auto" style="width: 200px;" id="listaNumeros"></ul>
    <script src="../js/app.js"></script>
 </body>
</html>