<!doctype html>
<html lang="en">
  <head>
    <title>ASCII</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
      <div class="container">
          <div class="jumbotron">
              <h1>Práctica 6</h1>
              <p>Que lea una cadena y la encripte sumando 3 al código ASCII de cada carácter. Mostrar por pantalla.</p>

              <div class="col-12">
                  <label for="">Ingresa Palabra a Encriptar</label>
                  <input type="text" class="form-control" id="palabra" placeholder="palabra a encriptar">
              </div>
      </div>
      <script src="../js/app.js"></script>
  </body>
</html>

   
