<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
      <p class="text-center mt-3">Desarrolle una solución que lea un numero M, obtenga y cuente todos los números primos menores a M.</p>
      <div class="row justify-content-center">

        <button class="btn btn-outline-success col-4" id="btnInit">Iniciar app</button>
        <div class="alert alert-outline-info" id="alertaPrimos"></div>
      </div>
    
      <ul class="list-group list-group-horizontal-lg text-center row row-cols-8 m-3" id="zonaPrint"></ul>
      
    <script src="./../js/app.js"></script>
 </body>
</html>